{% extends "XeartsAshiokuAdminBundle::admin.html.twig" %}

{% block title %}出品管理 出品情報編集{% endblock %}

{% block body %}
  {% form_theme form '@XeartsAshiokuAdmin/Form/layout.html.twig' %}

    <div class="block-header">
        <h2>出品管理</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>出品情報編集</h2>
                </div>
                <div class="body">

                  {{ form_start(form, {'method': 'post', 'action': path('orderentry_admin_itemcategory_edit', {"id":itemCategory.id}), 'attr': {'class': 'admin_item_category_edit'}}) }}


                  {{ form_row(form.title) }}
                  {{ form_row(form.price) }}
                  {{ form_row(form.comment) }}
                  {{ form_row(form.body) }}
                  {{ form_row(form.categories) }}
                  {{ form_row(form.makers) }}
                  {{ form_row(form.postagePayer) }}
                  {{ form_row(form.buyerNotice) }}


                    <div class="form-group">
                      {{ form_label(form.address) }}
                    </div>

                  {{ form_row(form.address.name) }}
                  {{ form_row(form.address.kana) }}
                  {{ form_row(form.address.companyName) }}
                  {{ form_row(form.address.zipCode) }}
                  {{ form_row(form.addressPrefecture) }}
                  {{ form_row(form.address.city) }}
                  {{ form_row(form.address.streetName) }}
                  {{ form_row(form.address.buildingName) }}
                  {{ form_row(form.address.telNumber) }}

                  {{ form_row(form.itemCondition) }}

                    <div class="form-group">
                        <label class="col-sm-2 control-label required">
                            出品状況
                        </label>
                        <div class="col-sm-9">
                            <div class="form-line">
                              <span class="form-control">{{ item.statusJp }}</span>
                            </div>
                        </div>
                    </div>


                    {{ form_rest(form) }}

                  {# TODO: formTypeを使って実装する #}
                    <div class="text-center">
                      {% if workflow_can(item, 'publish') %}
                          <a class="btn btn-primary waves-effect" href="{{ path('admin_item_state', {id: item.id, transaction: 'publish'}) }}">この出品を公開する</a>
                      {% endif %}
                      {% if workflow_can(item, 'reject') %}
                          <a class="btn btn-primary waves-effect" href="{{ path('admin_item_state', {id: item.id, transaction: 'reject'}) }}">この出品を却下する</a>
                      {% endif %}
                      {% if workflow_can(item, 'cancel') %}
                          <a class="btn btn-primary waves-effect" href="{{ path('admin_item_state', {id: item.id, transaction: 'cancel'}) }}">この購入をキャンセルする</a>
                      {% endif %}
                        <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                    </div>

                    {{ form_end(form) }}


                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
{{ parent() }}
  {% javascripts
  "assets/vendor/flow.js/dist/flow.min.js"
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script>
      $('.selectpicker').selectpicker({
          style: 'btn dropdown-toggle btn-default',
          size: 12
      });

      (function () {
          var photoCount = $('#ashiba_auctions_create_item_photos input').length;
          var $prototype = $('#ashiba_auctions_create_item_photos').data('prototype');
          var $form = $('form[name=ashiba_auctions_create_item]');

          var r = new Flow({
              target: "{{ path('mypage_item_photo_upload') }}",
              testChunks: false
          });

          r.assignDrop($('.flow-drop')[0]);
          r.assignBrowse($('.flow-browse-image')[0], false, false, {accept: 'image/*'});
          // Handle file add event
          r.on('fileAdded', function(file){

              $('.admin-flow-list').append(
                  '<li class="admin-flow-file flow-file-'+file.uniqueIdentifier+'">' +
                  '<img class="flow-file-preview"  width="160" />' +
                  '</li>'
              );

              var $self = $('.admin-flow-file-'+file.uniqueIdentifier);
          });

          r.on('filesSubmitted', function(file) {
              r.upload();
          });

          r.on('fileSuccess', function(file, message){
              var $self = $('.admin-flow-file-'+file.uniqueIdentifier);

              var result;
              try {
                  result = JSON.parse(message);
                  $self.find('.admin-flow-file-preview').attr('src', result.path);
                  $self.append(
                      '<span class="admin-flow-file-delete" data-id="' +
                      result.id +
                      '"><a href="#">×</a> </span>'
                  );
                  addPhoto(result.id);

              } catch(e) {
                  console.log(e.message)
              }
          });

          r.on('fileError', function(file, message){
              // Reflect that the file upload has resulted in error
              console.log(message);
              $('.admin-flow-file-'+file.uniqueIdentifier+' .flow-file-progress').html('(file could not be uploaded: '+message+')');
          });

          r.on('catchAll', function() {
              console.log.apply(console, arguments);
          });


          function addPhoto(id) {

              var elm = $prototype;

              elm = $(elm.replace(/__name__/g, photoCount));
              elm.find('input').val(id);

              $form.append(elm);

              photoCount++
          }

          $('.admin-flow-file-delete').click(function (e) {
              var id = $(this).data('id');

              $('#ashiba_auctions_create_item_photos input[value='+id+']').remove();
              $(this).closest('.admin-flow-file').remove();
          })


      })();
  </script>
{% endblock %}