<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理画面 | {% block title %}HOME{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        {% stylesheets filter='cssrewrite'
        'assets/vendor/font-awesome/css/font-awesome.min.css'
        'assets/vendor/adminbsb-materialdesign/plugins/bootstrap/css/bootstrap.min.css'
        'assets/vendor/adminbsb-materialdesign/plugins/bootstrap-select/css/bootstrap-select.min.css'
        'assets/vendor/adminbsb-materialdesign/plugins/node-waves/waves.min.css'
        'assets/vendor/adminbsb-materialdesign/plugins/animate-css/animate.min.css'
        'assets/vendor/adminbsb-materialdesign/css/style.css'
        'assets/vendor/adminbsb-materialdesign/css/themes/all-themes.min.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock stylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ asset("assets/vendor/adminbsb-materialdesign/plugins/jquery/jquery.min.js") }}"></script>
</head>

<body class="theme-teal">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
{% block header %}
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="{{ path("xearts_ashioku_admin_default_index") }}">ASHIBA AUCTIONS</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="{{ path('admin_logout') }}">
                        <i class="material-icons">input</i>
                    </a>
                </li>

                <li class="pull-right">
                    <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock header %}
<!-- #Top Bar -->

<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        {% block leftSidebar %}
            <!-- User Info -->
            <div class="user-info">
                {#<div class="image">#}
                {#<img src="../../images/user.png" width="48" height="48" alt="User" />#}
                {#</div>#}
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{  app.user? app.user.name:'' }}</div>
                    <div class="email">{{  app.user? app.user.email:'' }}</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">


            {{ knp_menu_render('admin_main', {template:"XeartsAshiokuAdminBundle::menu.html.twig"}) }}


            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        {% endblock leftSidebar %}
    </aside>

    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        {% block rightSidebar %}
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock rightSidebar %}
    </aside>
    <!-- #END# Right Sidebar -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="align-right">
            {{ knp_menu_render('admin_main', {template:"XeartsAshiokuAdminBundle::menu_breadcrumbs.html.twig"}) }}
        </div>

        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    <i class="material-icons">error_outline</i>
                    <span class="material-message">エラーがあります</span>
                </h4>
                {% set _flashMessage='' %}
                {% for flashMessage in app.session.flashBag.get('error') %}
                    {% set _flashMessage=flashMessage %}
                {% endfor %}
                <p>{{ _flashMessage }}</p>
            </div>
        {% endif %}
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    <i class="material-icons">check_circle</i>
                    <span class="material-message">Success</span>
                </h4>
                {% for flashMessage in app.session.flashBag.get('success') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}{% endblock %}

    </div>
</section>

{% block javascripts %}
    {% javascripts
    "assets/vendor/adminbsb-materialdesign/js/admin.js"
    "assets/vendor/adminbsb-materialdesign/plugins/momentjs/moment.js"
    "assets/vendor/adminbsb-materialdesign/plugins/bootstrap/js/bootstrap.js"
    "assets/vendor/adminbsb-materialdesign/plugins/bootstrap-select/js/bootstrap-select.min.js"
    "assets/vendor/adminbsb-materialdesign/plugins/jquery-slimscroll/jquery.slimscroll.js"
    "assets/vendor/adminbsb-materialdesign/plugins/node-waves/waves.js"
    "assets/vendor/adminbsb-materialdesign/plugins/jquery-validation/jquery.validate.js"
    %}
    <script src="{{ asset_url }}"></script>
    <script>
        $.AdminBSB.options.leftSideBar.scrollActiveItemWhenPageLoad = false;
    </script>
    {% endjavascripts %}
    {#<script async="" src="https://www.google-analytics.com/analytics.js"></script>#}
{% endblock javascripts %}
</body>

</html>
