{% extends "XeartsAshiokuAdminBundle::admin.html.twig" %}

{% block title %}出品管理 出品情報編集{% endblock %}

{% block body %}
  {% form_theme form '@XeartsAshiokuAdmin/Form/layout.html.twig' %}

    <div class="block-header">
        <h2>出品管理</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>出品情報編集</h2>
                </div>
                <div class="body">

                    {{ form_start(form, {'method': 'post', 'action': path('admin_item_edit', {"id":item.id}), 'attr': {'class': 'admin_item_edit'}}) }}
                    <div class="row">
                        <div class="input-field col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="input-field col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ form_row(form.price) }}
                        </div>
                        <div class="input-field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{ form_row(form.category) }}
                        </div>

                        {{ form_rest(form) }}

                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}